*{
    margin: 0;
    padding: 0;
    list-style:none;
}
a{
    text-decoration: none;
    font-family: "微软雅黑","宋体",sans-serif;
}
body{
    background: #ffffff;
}
img{
    /* 为了兼容IE6 */
    border: 0;
}