<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>title</title>
    <link rel="stylesheet" href="../../src/css/base_xcz.css">
    <link rel="stylesheet" href="../../src/css/kuangjia.css">
    <link rel="stylesheet" href="../../src/css/ArticleList_zlk.css">

</head>

<body>


<!--焦点图-->
<section class="xcz_focus">



</section>
<!--内容框架-->
<section class="xcz_content">
    <!--框架内容开始-->
    <div class="zlk_top">
        <div class="zlk_topTop">
            动态
        </div>
        <div class="zlk_topBottom">
            <div class="zlk_topBottomLeft">

            </div>
            <div class="zlk_topBottomRight">
                <p>555</p>
                <p>555</p>
                <p>555</p>
                <p>555</p>
            </div>
        </div>
    </div>
    <div class="zlk_middle"></div>

    <!--框架内容结束-->


</section>
<div></div>
</body>
</html>