<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>title</title>
    <link rel="stylesheet" href="../../src/css/base_xcz.css">
    <link rel="stylesheet" href="../../src/css/kuangjia.css">
    <link rel="stylesheet" href="../../src/css/ArticleList_zlk.css">
    <link rel="stylesheet" href="../../src/font/iconfont.css">

</head>

<body>


<!--焦点图-->
<section class="xcz_focus">



</section>
<!--内容框架-->
<section class="xcz_content">
    <!--框架内容开始-->
    <div class="zlk_top">
        <div class="zlk_topTop">
            动态
        </div>
        <div class="zlk_topBottom">
            <div class="zlk_topBottomLeft">
                <!--上面的内容开始-->
                <div class="content1">
                    <div class="content1Top"></div>
                    <div class="content1middle">
                        <div class="content1middleTop">GOLBAL CUSTOM TEA DRINKS</div>
                        <div class="content1middleBottom">CHINESE FALYVOP.</div>
                    </div>
                    <div class="content1bottom">
                        <div class="content1middleLeft">每个甜品都只为</div>
                        <div class="content1middleRight">暖你心情</div>
                    </div>



                </div>
                <!--上面的内容结束-->
                <!--下面的内容开始-->

                <div class="content2">
                    <p>   从咖啡到茶饮，从门店体验到随时随心畅享,星巴克的创新一直在变，对消费者需求的倾听也从未停止。今年夏天，星巴克在中国市场首次推出两款啦啦啦啦啦啦啦啦啦啦啦啦啦</p>
                    <p>From coffee to tea, from store experience to instant enjoyment,ore experience to instant enjoyment,From coffee to tea,  experience to instant enjoyment,</p>
                </div>
                <!--下面的内容开始-->


            </div>
            <div class="zlk_topBottomRight">
               <div class="zlk_topBottomRightImg1">
                   <div class="zhao"></div>
                   <img src="../../src/img/zlk_img/drawing_24.png" alt="">
               </div>
               <div class="zlk_topBottomRightImg2">
                   <div class="zhao2"></div>
                   <img src="../../src/img/zlk_img/drawing_24.png" alt="">
               </div>
               <div class="zlk_topBottomRightImg3">
                   <div class="zhao3"></div>
                   <img src="../../src/img/zlk_img/drawing_24.png" alt="">
               </div>

            </div>
            <!--右下的图片-->
            <div class="zlk_topBottomImg">
                <img src="../../src/img/zlk_img/drawing_25.png" alt="">
            </div>
        </div>
    </div>
    <div class="zlk_middle">

    </div>

    <!--框架内容结束-->


</section>

</body>
</html>