{include file='index/header_wzm.html'}
    <link rel="stylesheet" href="{CSS_PATH}css_xcz/base_xcz.css">
    <link rel="stylesheet" href="{CSS_PATH}css_xcz/chengpingjs.css">
    <link rel="stylesheet" href="{FONT_PATH}iconfont.css">
    <script src="{JS_PATH}js_xcz/jquery-3.2.1.js"></script>
<!--焦点图-->
<div class="xcz_focus">
    <h1>安逸 の 午后</h1>
    <h2>WHY IS IT THAT I DON'T KNOW</h2>
    <h2>THAT THIS RESTAERANT'S BREAD AND CAKES ARE SO CHEAP AND</h2>
    <p>山/有/木/兮/木/有/枝</p>
</div>
<!--内容框架-->
<div class="xcz_content">
    <div class="xcz_content-box">
        <div class="xcz_content-top">
            <i class="iconfont icon-choiceO" style="font-size: 16px;line-height: 55px"></i>诚聘
        </div>
        <div class="xcz_cp-cont">
            <div class="xcz_cp-login">
                <div class="xcz_cp-login2">
                    <i class="iconfont icon-wutouxiang"></i><b>12345678900</b><i id="xcz_sj" class="iconfont icon-icon_arrow_right"></i>
                </div>
                <div class="xcz_cp-dl"><a href="">退出当前登录</a></div>
            </div>
            <div class="xcz_cp-title">
                <img src="{IMG_PATH}veronesse_001.png" alt="">
                <h5>一路相伴，共创辉煌</h5>
                <p>GO HAND CREATE BRILLIANCE</p>
            </div>
            <div class="xcz_cp-box">
                <h1>您的简历已提交成功！</h1>
                <h2>我们会第一时间与您联系</h2>
                <h3>感谢您的支持。</h3>
                <p>Your resume has been submitted successfully!</p>
                <p>We will contact you the first time<br>
                    thank you for your support.</p>
            </div>
            <div class="xcz_cp-jrwm">加入我们</div>
        </div>
    </div>
</div>
<div style="margin-top: 740px"></div>
<script>
    $("#xcz_sj").click(function(){
        $(".xcz_cp-dl").slideToggle(300);
    });
</script>
{include file='index/footer_wzm.html'}
