{include file='index/header_wzm.html'}
<link rel="stylesheet" href="{CSS_PATH}css_xcz/base_xcz.css">
    <link rel="stylesheet" href="{CSS_PATH}css_xcz/chengping.css">
    <link rel="stylesheet" href="{FONT_PATH}iconfont.css">

<!--焦点图-->
<div class="xcz_focus">
    <h1>安逸 の 午后</h1>
    <h2>WHY IS IT THAT I DON'T KNOW</h2>
    <h2>THAT THIS RESTAERANT'S BREAD AND CAKES ARE SO CHEAP AND</h2>
    <p>山/有/木/兮/木/有/枝</p>
</div>
<!--内容框架-->
<div class="xcz_content">
    <div class="xcz_content-box">
        <div class="xcz_content-top">
            <i class="iconfont icon-choiceO" style="font-size: 16px;line-height: 55px"></i>诚聘
        </div>
        <div class="xcz_cp-cont">
            <div class="xcz_cp-login">
                <a href="">登录</a> 丨
                <a href="">注册</a>
            </div>
            <div class="xcz_cp-title">
                <img src="{IMG_PATH}veronesse_001.png" alt="">
                <h5>一路相伴，共创辉煌</h5>
                <p>GO HAND CREATE BRILLIANCE</p>
            </div>
            <div class="xcz_cp-box">
                <table class="xcz_table">
                    <thead>
                    <tr>
                        <th class="xcz_table-th">招聘岗位</th>
                        <th class="xcz_table-th">任职地点</th>
                        <th class="xcz_table-th">所需人数</th>
                    </tr>
                    </thead>
                    <tbody >
                    <tr class="xcz_table-hang">
                        <th class="xcz_table-th2">高级西点师</th>
                        <td>上海市普陀区武宁路32号</td>
                        <td>4人</td>
                    </tr>
                    </tbody>
                    <tbody >
                    <tr class="xcz_table-hang">
                        <th class="xcz_table-th2">高级西点师</th>
                        <td>上海市普陀区武宁路32号</td>
                        <td>4人</td>
                    </tr>
                    </tbody>
                    <tbody >
                    <tr class="xcz_table-hang">
                        <th class="xcz_table-th2">高级西点师</th>
                        <td>上海市普陀区武宁路32号</td>
                        <td>4人</td>
                    </tr>
                    </tbody>
                    <tbody >
                    <tr class="xcz_table-hang">
                        <th class="xcz_table-th2">高级西点师</th>
                        <td>上海市普陀区武宁路32号</td>
                        <td>4人</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <a href="index.php?m=index&a=chengpingxq"><div class="xcz_cp-jrwm">加入我们</div></a>
        </div>
    </div>
</div>
<div style="margin-top: 860px"></div>

{include file='index/footer_wzm.html'}