<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../../src/css/footer_wzm.css">
    <script src="../../src/js/jquery.min.js"></script>
    <script src="../../src/js/footer_wzm.js"></script>
</head>
<body>
<div class="wzm_footer">
<div class="wzm_footer1">
<div class="wzm_footer2">
    <ul class="wzm_footer3">
        <li class="wzm_footer4 footer5">最新资讯</li>
        <li class="wzm_footer4">当季新品</li>
        <li class="wzm_footer4">深秋的邂逅</li>
        <li class="wzm_footer4">冰雪恋人</li>
        <li class="wzm_footer4">冷翠冰咖啡</li>
        <li class="wzm_footer4">冰机灵时代</li>
        <li class="wzm_footer4">限时特惠</li>
    </ul>
    <ul class="wzm_footer3">
        <li class="wzm_footer4 footer5">最新资讯</li>
        <li class="wzm_footer4">当季新品</li>
        <li class="wzm_footer4">深秋的邂逅</li>
        <li class="wzm_footer4">冰雪恋人</li>
        <li class="wzm_footer4">冷翠冰咖啡</li>
        <li class="wzm_footer4">冰机灵时代</li>
        <li class="wzm_footer4">限时特惠</li>
    </ul>
    <ul class="wzm_footer3">
    <li class="wzm_footer4 footer5">最新资讯</li>
    <li class="wzm_footer4">当季新品</li>
    <li class="wzm_footer4">深秋的邂逅</li>
    <li class="wzm_footer4">冰雪恋人</li>
    <li class="wzm_footer4">冷翠冰咖啡</li>
    <li class="wzm_footer4">冰机灵时代</li>
    <li class="wzm_footer4">限时特惠</li>
    </ul>
    <ul class="wzm_footer3">
        <li class="wzm_footer4 footer5">最新资讯</li>
        <li class="wzm_footer4">当季新品</li>
        <li class="wzm_footer4">深秋的邂逅</li>
        <li class="wzm_footer4">冰雪恋人</li>
        <li class="wzm_footer4">冷翠冰咖啡</li>
        <li class="wzm_footer4">冰机灵时代</li>
        <li class="wzm_footer4">限时特惠</li>
    </ul>
    <ul class="wzm_footer3">
        <li class="wzm_footer4 footer5">最新资讯</li>
        <li class="wzm_footer4">当季新品</li>
        <li class="wzm_footer4">深秋的邂逅</li>
        <li class="wzm_footer4">冰雪恋人</li>
        <li class="wzm_footer4">冷翠冰咖啡</li>
        <li class="wzm_footer4">冰机灵时代</li>
        <li class="wzm_footer4">限时特惠</li>
    </ul>
</div>
    <div class="wzm_footer6">
        <div class="wzm_footer7">© 2017 VEROONESSE Corportion</div>
        <div class="wzm_footer7">All rights reserved.京ICP备17003726号</div>
        <div class="wzm_footer7">京公网安备 31010402000316</div>
    </div>
</div>
</div>
<div class="wzm_yidong">
<div class="wzm_yidong1">
    <div class="wzm_yidong2">
        <div class="wzm_yidong11">最新资讯</div>
        <div class="wzm_more">+</div>
        <ul class="fenlei">
            <li class="meige">当季新品</li>
            <li class="meige">深秋的邂逅</li>
            <li class="meige">冰雪恋人</li>
            <li class="meige">冷翠冰咖啡</li>
            <li class="meige">冰机灵时代</li>
            <li class="meige">限时特惠</li>
        </ul>
    </div>
    <div class="wzm_yidong2">
        <div class="wzm_yidong11">最新资讯</div>
        <div class="wzm_more">+</div>
        <ul class="fenlei">
            <li class="meige">当季新品</li>
            <li class="meige">深秋的邂逅</li>
            <li class="meige">冰雪恋人</li>
            <li class="meige">冷翠冰咖啡</li>
            <li class="meige">冰机灵时代</li>
            <li class="meige">限时特惠</li>
        </ul>
    </div>
    <div class="wzm_yidong2">
        <div class="wzm_yidong11">最新资讯</div>
        <div class="wzm_more">+</div>
        <ul class="fenlei">
            <li class="meige">当季新品</li>
            <li class="meige">深秋的邂逅</li>
            <li class="meige">冰雪恋人</li>
            <li class="meige">冷翠冰咖啡</li>
            <li class="meige">冰机灵时代</li>
            <li class="meige">限时特惠</li>
        </ul>
    </div>
    <div class="wzm_yidong2">
        <div class="wzm_yidong11">最新资讯</div>
        <div class="wzm_more">+</div>
        <ul class="fenlei">
            <li class="meige">当季新品</li>
            <li class="meige">深秋的邂逅</li>
            <li class="meige">冰雪恋人</li>
            <li class="meige">冷翠冰咖啡</li>
            <li class="meige">冰机灵时代</li>
            <li class="meige">限时特惠</li>
        </ul>
    </div>
    <div class="wzm_footer6">
        <div class="wzm_footer7">© 2017 VEROONESSE Corportion</div>
        <div class="wzm_footer7">All rights reserved.京ICP备17003726号</div>
        <div class="wzm_footer7">京公网安备 31010402000316</div>
    </div>
</div>
</div>
</body>
</html>