<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/bace.css">
    <link rel="stylesheet" href="css/image-list_gx.css">
    <link rel="stylesheet" href="css/wzm_css/header_wzm.css">
    <link rel="stylesheet" href="css/wzm_css/footer_wzm.css">
    <script src="js/jquery-3.2.1.js"></script>
    <script src="js/image-list_gx.js"></script>
    <title>Document</title>
</head>
<body>
<!---->

<div class="banner_gx">
    <div class="banner-dbox_gx">
        <!--<img src="img/7a6432dd921c878be585054198974f93c888a3f5a403d-KesKBN.jpg" alt="">-->
        <div class="banner-box_gx"><h1 style="font-size:36px;">初冬 の 问候</h1>
            <p style="font-size: 14px">
                Why is it that I don't know<br>
                that this restaurant's bread and cakes are so cheap and<br>
                so delicious
            </p>
            <p style=" font-size: 14px;position: relative;z-index: 2;">&nbsp;&nbsp;今/我/来/思/雨/雪/霏/霏<div class="banner-p_gx"></div></p>
        </div>
    </div>
</div>
<div class="box_gx">
    <!---->
    <div class="img_gx">
        <img src="img/yuandian_.png" alt="" style="display: block;margin: 0 auto;">
    </div>
    <!---->
    <div class="x-box_gx_01">
        <ul class="b-title_gx">
            <li class="log_gx"><div></div></li>
            <li class="log-text_gx">甜品</li>
        </ul>
        <div class="log-log_gx">
            <p>新品上市</p>
            <img src="img/title_333.png" alt="">
        </div>
    </div>

    <!---->
    <div class="new-shangshi_gx">
        <div class="ss-01_gx">
            <img src="img/drawing_20.png" alt="">
        </div>
        <div class="ss-02_gx">
            <div class="ss-02-text_gx">
                <h1>The DESSERT</h1>
                <br>
                <h2 style="opacity: 0.8">深秋只为暖你心情</h2>
                <h4 style="opacity: 0.8">草莓酱汁与可可豆的结合，加之麦芽的醇香。</h4>
                <p style="opacity: 0.3">The Mellow Fragrance of Strawberry,Cocoabeans </p>
            </div>
        </div>
        <div class="ss-03_gx">
            <div class="ss-03-text_gx">
                <h1>The DESSERT</h1>
                <br>
                <h2 style="opacity: 0.8">深秋只为暖你心情</h2>
                <h4 style="opacity: 0.8">草莓酱汁与可可豆的结合，加之麦芽的醇香</h4>
                <p style="opacity: 0.3">The Mellow Fragrance of Strawberry,Cocoabeans </p>
            </div>
        </div>
        <div class="ss-04_gx">
            <img src="img/fa910f8b2d7dfe326a3001f10802d3f9b8433e77143695-w52NQ3.jpg" alt="">
        </div>
        <div class="ss-05_gx">
            <img src="img/drawing_17.png" alt="">
        </div>
        <div class="ss-06_gx">
            <img src="img/4c6f6b07e7e549ab88c5c0af3ac92f30f3475a0218f3b-9f7qmk.jpg" alt="">
        </div>
        <div class="ss-fenye_gx">
            <ul class="ss-fenye-_gx pre">PRE</ul>
            <ul class="ss-fenye-fy_gx">
               <li>1</li>
               <li class="active">2</li>
               <li>3</li>
            </ul>
            <ul class="ss-fenye-_gx next">NEXT</ul>
        </div>
    </div>
    <!---->
    <div class="x-box_gx_02">
        <div class="log-log_gx">
            <p>甜品礼盒</p>
            <img src="img/title_333.png" alt="">
        </div>
    </div>
    <!---->
    <div class="lh-box">
    <div class="lh-01-01_gx">
        <div class="lh-img-01_gx">
            <img src="img/drawing_19.png" alt="">
        </div>
        <div class="lh-text-01_gx">
            <p style="font-size: 24px;color: #29292b;padding-top: 43px">午后果园礼盒套装</p>
            <p style="font-size: 16px;color: #d8b264;padding-top: 20px;font-family:MicrosoftYaHeiLight; ">shen qiu shen qiu <span style="font-weight: 700;font-size: 20px">xie hou</span></p>
            <p style="color: #d5d5d5;font-size: 12px;font-family:'微软雅黑';">一/叶/知/秋/如/隔/三/秋</p>
            <p style="display: block;width: 264px;height: auto;padding-top: 53px;color: #3f3f3f;font-size: 12px;font-family:'微软雅黑';">维罗娜(54.87, -0.26, -0.47%)公司周四发布了逊于预期的第四财季业绩，同时宣布，已同意将其茶饮品牌Tazo售......</p>
            <p style="font-size: 14px;padding-bottom: 17px;padding-top: 90px">会员价：<span style="font-size: 24px">¥1128</span></p>
            <p style="font-size: 12px;">为千纸鹤送上暖秋心动价</p>
            <div class="lh-01-text-img_gx">
                <img src="img/pic_18.png" alt="" style="display: block">
            </div>
        </div>
        <div class="lh-img01-01_gx">
            <img src="img/pic_16.png" alt="">
        </div>
        <div class="lh-img02-01_gx">
            <img src="img/pic_17.png" alt="">
        </div>
    </div>
    <!---->
    <div class="lh-01-02_gx"><a href="">
        <div class="lh-img-02_gx">
            <img src="img/drawing_19.png" alt="">
        </div>
        <div class="lh-text-02_gx">
            <p style="">午后果园礼盒套装</p>
            <p style="">shen qiu shen qiu xie hou</p>
            <p style="">一/叶/知/秋/如/隔/三/秋</p>
            <p style="">维罗娜(54.87, -0.26, -0.47%)公司周四发布了逊于预期的第四财季业绩，同时宣布，已同意将其茶饮品牌Tazo售......</p>
            <p style="">会员价：<span style="">¥1128</span></p>
            <p style="">为千纸鹤送上暖秋心动价</p>
            <div class="lh-02-text-img_gx">
                <img src="img/pic_18.png" alt="" style="display: block">
            </div>
        </div>
        <div class="lh-img01-02_gx">
            <img src="img/pic_16.png" alt="">
        </div>
        <div class="lh-img02-02_gx">
            <img src="img/pic_17.png" alt="">
        </div>
    </a>
    </div>

    <div class="lh-02-01_gx">
        <a href="">
            <div class="lh-01-img_gx">
                <img src="img/drawing_19.png" alt="">
            </div>
            <div class="lh-01-text_gx">
                <p style="">午后果园礼盒套装</p>
                <p style="">shen qiu shen qiu xie hou</p>
                <p style="">一/叶/知/秋/如/隔/三/秋</p>
                <p style="">维罗娜(54.87, -0.26, -0.47%)公司周四发布了逊于预期的第四财季业绩，同时宣布，已同意将其茶饮品牌Tazo售......</p>
                <p style="">会员价：<span style="">¥1128</span></p>
                <p style="">为千纸鹤送上暖秋心动价</p>
                <div class="lh-01-text-img_gx">
                    <img src="img/pic_18.png" alt="" style="display: block">
                </div>
            </div>
        </a>
    </div>
    <div class="lh-02-02_gx">
        <a href="">
            <div class="lh-02-img_gx">
                <img src="img/drawing_24.png" alt="">
            </div>
            <div class="lh-02-text_gx">
                <p style="">午后果园礼盒套装</p>
                <p style="">shen qiu shen qiu xie hou</p>
                <p style="">一/叶/知/秋/如/隔/三/秋</p>
                <p style="">维罗娜(54.87, -0.26, -0.47%)公司周四发布了逊于预期的第四财季业绩，同时宣布，已同意将其茶饮品牌Tazo售......</p>
                <p style="">会员价：<span style="">¥1128</span></p>
                <p style="">为千纸鹤送上暖秋心动价</p>
                <div class="lh-02-text-img_gx">
                    <img src="img/pic_18.png" alt="" style="display: block">
                </div>
            </div>
        </a>
    </div>
    </div>


    <div class="x-box_gx_03">
        <div class="log-log_gx">
            <p>甜品地带</p>
            <img src="img/title_333.png" alt="">
        </div>
    </div>

    <!---->
    <ul class="dd-box_gx">
        <li>
            <a href="">
                <div style="height: 243px;width: 100%">
                    <img src="img/drawing_21.png" alt="">
                    <img src="img/pic_19.png" alt="" class="dd-img-hover_gx">
                </div>
                <div class="dd-text_gx">
                    <p>草莓卡仕达</p>
                    <p>让你心动的味蕾新体验，只在这个深秋，与你邂逅......</p>
                </div>
            </a>
        </li>
        <li>
            <a href="">
                <div style="height: 243px;width: 100%">
                    <img src="img/drawing_22.png" alt="">
                    <img src="img/pic_19.png" alt="" class="dd-img-hover_gx">
                </div>
                <div class="dd-text_gx">
                    <p>草莓卡仕达</p>
                    <p>让你心动的味蕾新体验，只在这个深秋，与你邂逅......</p>
                </div>
            </a>
        </li>
        <li>
            <a href="">
                <div style="height: 243px;width: 100%">
                    <img src="img/drawing_23.png" alt="">
                    <img src="img/pic_19.png" alt="" class="dd-img-hover_gx">
                </div>
                <div class="dd-text_gx">
                    <p>草莓卡仕达</p>
                    <p>让你心动的味蕾新体验，只在这个深秋，与你邂逅......</p>
                </div>
            </a>
        </li>
        <li>
            <a href="">
                <div style="height: 243px;width: 100%">
                    <img src="img/drawing_21.png" alt="">
                    <img src="img/pic_19.png" alt="" class="dd-img-hover_gx">
                </div>
                <div class="dd-text_gx">
                    <p>草莓卡仕达</p>
                    <p>让你心动的味蕾新体验，只在这个深秋，与你邂逅......</p>
                </div>
            </a>
        </li>
        <li>
            <a href="">
                <div style="height: 243px;width: 100%">
                    <img src="img/drawing_22.png" alt="">
                    <img src="img/pic_19.png" alt="" class="dd-img-hover_gx">
                </div>
                <div class="dd-text_gx">
                    <p>草莓卡仕达</p>
                    <p>让你心动的味蕾新体验，只在这个深秋，与你邂逅......</p>
                </div>
            </a>
        </li>
        <li>
            <a href="">
                <div style="height: 243px;width: 100%">
                    <img src="img/drawing_23.png" alt="">
                    <img src="img/pic_19.png" alt="" class="dd-img-hover_gx">
                </div>
                <div class="dd-text_gx">
                    <p>草莓卡仕达</p>
                    <p>让你心动的味蕾新体验，只在这个深秋，与你邂逅......</p>
                </div>
            </a>
        </li>
    </ul>
    <div class="dd-fybox_gx">
        <ul class="xcz_content-fy">
            <li id="xcz_pre">PRE</li>
            <li class="xcz_active">1</li>
            <li>2</li>
            <li>3</li>
            <li>4</li>
            <li>5</li>
            <span>···</span>
            <li>25</li>
            <li>26</li>
            <li id="xcz_next">NEXT</li>
            <li id="xcz_tz">跳转到 <input type="text" value="26">页</li>
            <input type="button" value="GO" id="xcz_go" onclick="">
        </ul>
        <ul class="xcz_content-fy1">
            <li id="xcz_pre1">《</li>
            <li class="xcz_active">1</li>
            <li>2</li>
            <li>3</li>
            <span>···</span>
            <li>25</li>
            <li>26</li>
            <li id="xcz_next1">》</li>
        </ul>
    </div>
<!---->
    <!---->


    <!---->

</div>


</body>
</html>
