<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="{CSS_PATH}wzm_css/tishi_wzm.css">
    <script src="{JS_PATH}jquery.min.js"></script>
    <style>
        .box2 span{
            color: red;
        }
    </style>
</head>
<body>
<div class="box">
<div class="box1">{$tishi}</div>
<div class="box2">还有<span>5</span>s后返回 <a href="?{$lujing}">立即返回</a></div>
</div>
</body>
<script>
    var a=document.querySelector('a');
        let s=5;
        let t=setInterval(function () {
            s--;
            $('.box2 span').html(s);
            if(s==0){
                location.href=a.href;
            }
        },1000);
</script>
</html>