<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../../src/css/wzm_css/kuangjia.css">
    <link rel="stylesheet" href="../../src/css/wzm_css/header_wzm.css">
    <script src="../../src/js/jquery.min.js"></script>
    <script src="../../src/js/wzm_js/header_wzm.js"></script>
    <link rel="stylesheet" href="../../src/css/wzm_css/footer_wzm.css">
    <script src="../../src/js/wzm_js/footer_wzm.js"></script>
    <link rel="stylesheet" href="../../src/css/wzm_css/women_wzm.css">
    <script src="../../src/js/wzm_js/about_wzm.js"></script>
</head>
<body>
<div class="wzm_box">
    <ul class="wzm_box1">
        <a href=""><li class="">首页<div class="wzm_backimg wzm_active1"><img src="../../src/img/wzm_img/1000.png" alt=""><span>首页</span></div></li></a>
        <a href=""><li>甜品<div class="wzm_backimg"><img src="../../src/img/wzm_img/1000.png" alt=""><span>甜品</span></div></li></a>
        <a href=""><li>服务<div class="wzm_backimg"><img src="../../src/img/wzm_img/1000.png" alt=""><span>服务</span></div></li></a>
        <li class='logo'><img src="../../src/img/wzm_img/logo.png" alt=""></li>
        <a href=""><li>动态<div class="wzm_backimg"><img src="../../src/img/wzm_img/1000.png" alt=""><span>动态</span></div></li></a>
        <a href=""><li>诚聘<div class="wzm_backimg"><img src="../../src/img/wzm_img/1000.png" alt=""><span>诚聘</span></div></li></a>
        <a href=""><li>我们<div class="wzm_backimg"><img src="../../src/img/wzm_img/1000.png" alt=""><span>我们</span></div></li></a>
    </ul>
    <div class="wzm_box2">我们
        <div class="wzm_logo1">
            <img src="../../src/img/wzm_img/logo.png" alt="">
        </div>
        <div class="wzm_caidan iconfont">
            &#xe62e;
        </div>

    </div>
    <div class="wzm_caidan1 iconfont1">
        &#xe618;
    </div>
    <div class="zhezhao">
        <a href=""><div class="wzm_yiji">
            首页
        </div></a>
        <a href=""><div class="wzm_yiji">甜品</div></a>
        <a href=""><div class="wzm_yiji">服务</div></a>
        <a href=""><div class="wzm_yiji">动态</div></a>
        <a href=""><div class="wzm_yiji">诚聘</div></a>
        <a href=""><div class="wzm_yiji">我们</div></a>
    </div>
</div>
<div class="xcz_focus">
    <img src="../../src/img/wzm_img/banner_06.png" alt="">
</div>

<div class="xcz_content">
    <img src="../../src/img/wzm_img/yuandian_.png" alt="" class="wzm_yuandian">
    <div class="about_quan">
        <div class="about_quan1"></div>
    </div>
    <div class="wzm_about">我们</div>
    <div class="wzm_heng"></div>
    <div class="zuojian">》</div>
    <div class="about_quan2">
        <div class="about_quan1"></div>
    </div>
    <div class="wzm_about3">企业简介</div>
    <img src="../../src/img/wzm_img/title_444.png" alt="" class="title444">
    <div class="wzm_title1">
        <p class="wzm_title11">美国一家连锁咖啡公司的名称，1971年成立，</p>
        <p class="wzm_title11">为全球最大的咖啡连锁店，其总部坐落美国华盛顿州西雅图市，星巴克旗下零售产品</p>
        <p class="wzm_title11">包括30多款全球顶尖的咖啡豆，手工制作的浓缩咖啡和</p>
        <p class="wzm_title11">多款咖啡冷热饮料，新鲜美味的各式糕点食品以及丰富多样的咖啡机、咖啡杯等商品。星巴克在全球</p>
        <p class="wzm_title11">范围内已经有近21300间分店</p>
        <p class="wzm_title11">遍布美洲、南美洲、欧洲、中东及太平洋区</p>
    </div>
    <div class="wzm_history">
        <img src="../../src/img/wzm_img/drawing_27.png" alt="" class="history1">
        <div class="wzm_history2">
            <img src="../../src/img/wzm_img/drawing_28.png" alt="" class="history2">
            <div class="thehistory">
                <p class="huangjia huangjia1">THE HISTORY</p>
                <p class="huangjia huangjia2">皇家御用，位于元多利亚时代</p>
                <p class="huangjia">dfsd dsfsdfsdfsgdfgehygd dfsdfsdsfsdfefewf</p>
                <p class="huangjia">dsfsdfsfdfeef dfeqdaDfsdf ergvdfarfefrgsfwqfef aaf</p>
                <p class="huangjia">wrefrbvgazdxfhtyjhyhnjfgghykiythtrtger</p>
            </div>
        </div>
        <div class="history31">HISTORY</div>
        <img src="../../src/img/wzm_img/drawing_29.png" alt="" class="wzm_history4">
        <ul class="wzm_historyzi">
            <li class="historyzi">美国一家连锁咖啡的公司，1971成立</li>
            <li class="historyzi">多款咖啡冷热饮料，新鲜美味的各式糕点食品以及丰富多样的咖啡机、咖啡杯等商品。星巴克在全球</li>
            <li class="historyzi">范围内已经有近21300间分店</li>
            <li class="historyzi">遍布美洲、南美洲、欧洲、中东及太平洋区</li>
        </ul>
    </div>
    <div class="wzm_diqiu">
        <div class="diqiuzi">JKHJHIUHFDB EUHIEF SKFIUFNF HDKF BKLDFHEU</div>
        <div class="diqiuzi">JHOIUHNJ NHOUHOIHUOIHU KLJKL</div>
        <div class="worldmap">
            <img src="../../src/img/wzm_img/drawing_30.png" alt="" class="worldmap1">
        </div>
    </div>
    <img src="../../src/img/wzm_img/title_555.png" alt="" class="title555">
    <div class="dujia">
        <div class="dujiayou">
            <img src="../../src/img/wzm_img/pic_17.png" alt="" class="dujiaoyou1">
        </div>
        <div class="dujiazuo">
            <img src="../../src/img/wzm_img/pic_16.png" alt="" class="dujiazuo1">
        </div>
        <img src="../../src/img/wzm_img/drawing_31.png" alt="" class="dujiaimg">
        <div class="dujiaright">
            <div class="dujiarighttitle">深秋邂逅礼盒套装</div>
            <div class="xieyou">SHEN QIU SHEN QIU XIE YOU</div>
            <div class="xieyou1">一/叶/知/秋/如/隔/三/秋</div>
        </div>
        <div class="xieyou2">
            <p class="xieyou3">(54.87,-0.26,-00.47%)公司周四发布了逊</p>
            <p class="xieyou3">于预期的第四财季业绩,同时宣布,已同意将其</p>
            <p class="xieyou3">茶饮品牌TAZO售......</p>
        </div>
        <div class="huiyuan">会员价：￥1128</div>
        <img src="../../src/img/wzm_img/pic_21.png" alt="" class="zhiye">
        <div class="ganzhihe">为干纸鹤送上暖秋心动价</div>
    </div>
    <ul class="biaohao">
        <div class="shangpinimg10">
            <img src="../../src/img/wzm_img/pic_23.png" alt="" class="">
        </div>
        <li class="every">
            <div class="bianhao">01</div>
            <div class="bianhaoxia">商品1号</div>
            <p class="shangpinjieshao">根据客户的需求，给予</p>
            <p class="shangpinjieshao">最满意的答复最满意的答复</p>
        </li>
        <li class="every">
            <img src="../../src/img/wzm_img/pic_23.png" alt="" class="shangpinimg">
        </li>
        <!--<div class="shangpinimg10">-->
            <!--<img src="../../src/img/wzm_img/pic_23.png" alt="" class="">-->
        <!--</div>-->
        <!--<div class="shangpinimg10">-->
            <!--<img src="../../src/img/wzm_img/pic_23.png" alt="" class="">-->
        <!--</div>-->
        <li class="every">
            <div class="bianhao">02</div>
            <div class="bianhaoxia">商品2号</div>
            <p class="shangpinjieshao">根据客户的需求，给予</p>
            <p class="shangpinjieshao">最满意的答复最满意的答复</p>
        </li>
        <li class="every">
            <img src="../../src/img/wzm_img/pic_24.png" alt="" class="shangpinimg">
        </li>
        <li class="every">
            <div class="bianhao">03</div>
            <div class="bianhaoxia">商品3号</div>
            <p class="shangpinjieshao">根据客户的需求，给予</p>
            <p class="shangpinjieshao">最满意的答复最满意的答复</p>
        </li>
        <div class="shangpinimg10">
        <img src="../../src/img/wzm_img/pic_24.png" alt="" class="">
        </div>
    </ul>
    <img src="../../src/img/wzm_img/title_666.png" alt="" class="title555">
    <form class="wzm_joinus">
        <div class="wzm_joinshawon"></div>
        <div class="wzm_write">
            <input type="text" class="wzm_name" placeholder="name">
            <input type="text" class="wzm_name" placeholder="email">
            <textarea type="text" class="wzm_content" placeholder="COMMET"></textarea>
            <button class="wzm_submit1">
                SEND
            </button>
        </div>
    </form>
</div>

<div class="wzm_footer">
    <div class="wzm_footer1">
        <div class="wzm_footer2">
            <ul class="wzm_footer3">
                <li class="wzm_footer4 footer5">最新资讯</li>
                <li class="wzm_footer4">当季新品</li>
                <li class="wzm_footer4">深秋的邂逅</li>
                <li class="wzm_footer4">冰雪恋人</li>
                <li class="wzm_footer4">冷翠冰咖啡</li>
                <li class="wzm_footer4">冰机灵时代</li>
                <li class="wzm_footer4">限时特惠</li>
            </ul>
            <ul class="wzm_footer3">
                <li class="wzm_footer4 footer5">最新资讯</li>
                <li class="wzm_footer4">当季新品</li>
                <li class="wzm_footer4">深秋的邂逅</li>
                <li class="wzm_footer4">冰雪恋人</li>
                <li class="wzm_footer4">冷翠冰咖啡</li>
                <li class="wzm_footer4">冰机灵时代</li>
                <li class="wzm_footer4">限时特惠</li>
            </ul>
            <ul class="wzm_footer3">
                <li class="wzm_footer4 footer5">最新资讯</li>
                <li class="wzm_footer4">当季新品</li>
                <li class="wzm_footer4">深秋的邂逅</li>
                <li class="wzm_footer4">冰雪恋人</li>
                <li class="wzm_footer4">冷翠冰咖啡</li>
                <li class="wzm_footer4">冰机灵时代</li>
                <li class="wzm_footer4">限时特惠</li>
            </ul>
            <ul class="wzm_footer3">
                <li class="wzm_footer4 footer5">最新资讯</li>
                <li class="wzm_footer4">当季新品</li>
                <li class="wzm_footer4">深秋的邂逅</li>
                <li class="wzm_footer4">冰雪恋人</li>
                <li class="wzm_footer4">冷翠冰咖啡</li>
                <li class="wzm_footer4">冰机灵时代</li>
                <li class="wzm_footer4">限时特惠</li>
            </ul>
            <ul class="wzm_footer3">
                <li class="wzm_footer4 footer5">最新资讯</li>
                <li class="wzm_footer4">当季新品</li>
                <li class="wzm_footer4">深秋的邂逅</li>
                <li class="wzm_footer4">冰雪恋人</li>
                <li class="wzm_footer4">冷翠冰咖啡</li>
                <li class="wzm_footer4">冰机灵时代</li>
                <li class="wzm_footer4">限时特惠</li>
            </ul>
        </div>
        <div class="wzm_footer6">
            <div class="wzm_footer7">© 2017 VEROONESSE Corportion</div>
            <div class="wzm_footer7">All rights reserved.京ICP备17003726号</div>
            <div class="wzm_footer7">京公网安备 31010402000316</div>
        </div>
    </div>
</div>
<div class="wzm_yidong">
    <div class="wzm_yidong1">
        <div class="wzm_yidong2">
            <div class="wzm_yidong11">最新资讯</div>
            <div class="wzm_more">+</div>
            <ul class="fenlei">
                <li class="meige">当季新品</li>
                <li class="meige">深秋的邂逅</li>
                <li class="meige">冰雪恋人</li>
                <li class="meige">冷翠冰咖啡</li>
                <li class="meige">冰机灵时代</li>
                <li class="meige">限时特惠</li>
            </ul>
        </div>
        <div class="wzm_yidong2">
            <div class="wzm_yidong11">最新资讯</div>
            <div class="wzm_more">+</div>
            <ul class="fenlei">
                <li class="meige">当季新品</li>
                <li class="meige">深秋的邂逅</li>
                <li class="meige">冰雪恋人</li>
                <li class="meige">冷翠冰咖啡</li>
                <li class="meige">冰机灵时代</li>
                <li class="meige">限时特惠</li>
            </ul>
        </div>
        <div class="wzm_yidong2">
            <div class="wzm_yidong11">最新资讯</div>
            <div class="wzm_more">+</div>
            <ul class="fenlei">
                <li class="meige">当季新品</li>
                <li class="meige">深秋的邂逅</li>
                <li class="meige">冰雪恋人</li>
                <li class="meige">冷翠冰咖啡</li>
                <li class="meige">冰机灵时代</li>
                <li class="meige">限时特惠</li>
            </ul>
        </div>
        <div class="wzm_yidong2">
            <div class="wzm_yidong11">最新资讯</div>
            <div class="wzm_more">+</div>
            <ul class="fenlei">
                <li class="meige">当季新品</li>
                <li class="meige">深秋的邂逅</li>
                <li class="meige">冰雪恋人</li>
                <li class="meige">冷翠冰咖啡</li>
                <li class="meige">冰机灵时代</li>
                <li class="meige">限时特惠</li>
            </ul>
        </div>
        <div class="wzm_footer6">
            <div class="wzm_footer7">© 2017 VEROONESSE Corportion</div>
            <div class="wzm_footer7">All rights reserved.京ICP备17003726号</div>
            <div class="wzm_footer7">京公网安备 31010402000316</div>
        </div>
    </div>
</div>
</body>
<!--<script>-->
    <!--$('.wzm_caidan').click(function () {-->
        <!--console.log(1);-->
    <!--})-->
<!--</script>-->
</html>