/*
* @Author: Administrator
* @Date:   2017-10-29 14:52:56
* @Last Modified by:   Administrator
* @Last Modified time: 2017-11-01 22:01:47
*/
@import url('base.css');
@import url('head.css');


/* bannerÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¥ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¼ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¥ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â§ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€šÃ‚Â¹ */
.banner-Box1
{
	width: 100%;height: 300px;
}
.banner1
{   position: relative; 
	width: 100%;height:300px;
	margin: 0 auto;
	background: url('../img/1307273.jpg')no-repeat
	center top;
	/* background: url('../img/timg.jpg') no-repeat center center;
	background-size: 1002px;height: 261px; */
}
/* bannerÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â§ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â»ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¦Ã¢â‚¬Å“ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¦ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚ÂÃƒÆ’Ã¢â‚¬Â¦Ãƒâ€šÃ‚Â¸ */
/* asideÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¥ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¼ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¥ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â§ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€šÃ‚Â¹ */


.biaoqian1
{
	width: 1002px;height: 20px;
	margin: 0 auto;
}
.biaoqian1 p
{ font-size: 15px;font-weight: bold;
  color: #666666;margin: 10px 0;
}
.biaoqian1 p:first-child
{
  float: left;
}
.biaoqian1 p:last-child
{
  float: right;font-size: 13px;
  padding-right: 10px;font-weight: 500;
}
.biaoqian1 p:last-child a:first-child
{
  color: skyblue;
}
.biaoqian1 p:last-child a:last-child
{
  color: #888;
}
.biaoqian1 p:last-child a:last-child:hover
{
  color: #333;
}
nav{width: 100%;height: auto;}
.nav-header
{   border-top: 1px dotted #888;
	width: 1002px;height: 33px;
	padding: 0px 0 22px 0;
	text-align: center;color: #fff;
	font-size: 14px;font-weight: 500;
	line-height: 33px;
	background: url('../img/1307387.png') no-repeat 
	top center;
	background-size: 133px 33px;
    margin: 0 auto;
    margin-top: 20px;margin-bottom: 10px;
}
.fuwu-List
{
	width: 1001px;height: 68px;
	margin: 0 auto;margin-bottom: 20px;
}
.fuwu-Llstbox
{
	display: flex;border-top: 1px dotted #ccc;
	width: 1001px;height: 68px;
	border-bottom: 1px dotted #ccc;
    padding: 10px 0;
}
.fuwu-List1
{
	width: 50%;height: 100%;display: block;
	color: #fff;text-align: center;
	background: #F4BA59;align-self: center;
	line-height: 290%;
	border:1px solid #EF9C12;
	margin-right: 20px;
}
.fuwu-Llstbox .fuwu-List2
{   color: #333;text-align: center;display: block;
	width: 50%;height: 100%;line-height: 290%;
	background: #E7E7E7;align-self: center;
	border: 1px solid #CCCCCC;
}
.fuwu-Ywjs
{
	width: 1001px;height: auto;
	margin: 0 auto;
}
.fuwu-Ywjs p
{
	display: flex;color:#666;
	padding-top: 25px;
	font-size: 17px;letter-spacing: 0.5px;
	padding-bottom: 15px;
	border-bottom: 1px dotted #ccc;
}
.fuwu-Ywjs-text
{
   width: 1001px;height: auto;
	margin: 0 auto;text-indent: 2em;
}

.fuwu-Ywjs-text p
{color: #555;font-size: 15px;
padding-top: 15px;padding-bottom: 25px;
}
.fuwu-List1:hover
{
	background: #EF9C12;
}
.fuwu-List2:hover
{
	background: #DFDFDF;
	border: 1px solid #ADADAD;

}
.fuwu-Csbg
{
	width: 1001px;height: auto;
	margin: 0 auto;
	font-size: 17px;letter-spacing: 0.5px;
	color:#666;padding-bottom: 15px;
	border-bottom: 1px dotted #ccc;
	margin-bottom: 10px;
}
.tablebox
{
	width: 1001px;height: auto;
	margin: 0 auto;
}
.table
{
  width: 100%;text-align: 
}
.tdhead
{
	text-align: center;
	color: #666;font-weight: 600;
	font-size: 14px;
	border-bottom: 2px solid #ddd;
}
td{
	height: 35px;font-size: 13px;
	padding-left: 5px;color: #666;
	border-right: 0.5px solid #ddd;
	border-bottom: 0.5px solid #ddd;
}
table
{
	border: 1px solid #DDDDDD;
	margin-bottom: 70px;
	margin-top: 25px;
}
tr:first-child~:hover
{
	background: #f6f6f6;
}

footer
{
	width: 100%;
	height: 86px;
	/* background: #EFEFEF; */
}
.footerbox
{
	border-top: 1px solid #CACACA;
	width: 100%;
	height: 86px;
	margin: 0 auto;
	/* padding-top: 6px; */
	margin-top: 12px;
}
.footertell
{
	width: 100%;
	height: 33px;
	background: #00AAE8;
	line-height: 33px;
	/* margin-top: 5px; */
	border-bottom: 2px solid #D9DAD5;
}
.footertell span
{
	float: left;
	font-size: 12px;
	padding-left: 25px;color: #fff;
}
.footcenter{
	width: 1001px;
	margin:0 auto;
}
.footertell-pic
{
	float: left;
	background: rgba(158, 158, 158, 0.62);
	width: 91px;
	height: 30px;

	line-height: 33px;
	color: #fff;
	text-align: center;
	letter-spacing: 2px;
}
.footertell-pic img
{
	display: block;width: 62px;height: 29px;
	margin: 0 auto;
}
.ulli li
{   display: block;float: left;
	font-size: 12px;text-align: left;
	padding-top: 5px;line-height: 30px;
	color: #000;padding: 0  4px;
}
.ulli li:hover
{
	color: skyblue;cursor: pointer;
}
.ulli li a:hover
{
	color: skyblue;
}
.ulli li a
{
	color: #000;
}


.footerbox-box
{
	width: 1001px;
	height: 29px;
	margin: 0 auto;
	margin-top: 5px;
}
.footerbox p a
{
	color: #333;
}
.footerbox p a:hover
{
	color: #FF3300;
}
#span1
{   line-height: 30px;display: block;
	font-size: 12px;text-align: right;
	float: right;
}
.span1 img
{
	margin-top: 5px;
}
.span1 a{
	color: #333;
}
.span1 a:hover{
	color: #FF3300;
}