header
{
    width: 100%;
    height: 64px;
    margin-top: 10px;
}
.header-Box
{
    width: 1002px;
    height: 100%;
    margin: 0 auto;
}
.header-Left
{
    width: 40%;height: 100%;

    padding:3px; float: left;
}
.header-logo
{
    float: left;
    width: 73px;
    height: 74px;
    margin-right: 7px;
}
.header-logo img
{
    display: block;
    width: 85%;
    height: auto;
    float: left;
    margin-top: 5px;
    box-sizing:  border-box;
}
.header-Text
{
}
.header-Text h1
{
    color: #000;
    font-size: 22px;
    letter-spacing: 1px;
    margin-top: 11px;
    font-weight: 700;
    font-family: cursive;
}
.header-Text h2
{
    font-weight: 500;
    color: #000;
    font-size: 12px;
    line-height: 24px;
}
.header-Right
{
    padding-left: 45px;
    width: 60%;
    padding-top: 0px;
    height: 64px;
    float: right;
    font-family: 'å®‹ä½“';
}
.header-time
{
    float: right;
    padding-top: 18px;
    padding-right:  2px;
    padding-right:  2px;
    padding-right:  1px;
    padding-right:  2px;
    padding-right:  3px;
    padding-right:  4px;
    padding-right:  5px;
    padding-right:  6px;
    padding-right:  7px;
    padding-right:  8px;
    padding-right:  9px;
    padding-right:  10px;
    padding-right:  11px;
    padding-right:  12px;
    padding-right:  13px;
    padding-right:  14px;
    padding-right:  13px;
    padding-right:  14px;
    padding-right:  15px;
    padding-right:  16px;
    padding-right:  17px;
    padding-right:  18px;
    padding-right:  19px;
    padding-right:  20px;
    padding-right:  22px;
    padding-right:  23px;
    padding-right:  24px;
    padding-right:  25px;
    padding-right:  26px;
    padding-right:  27px;
    padding-right:  28px;
    padding-right:  29px;
    padding-right:  30px;
    padding-right:  29px;
    padding-right:  28px;
    padding-right:  27px;
    padding-right:  26px;
    padding-right:  25px;
    padding-right:  24px;
    padding-right:  23px;
    padding-right:  22px;
    padding-right:  21px;
    padding-right:  20px;
    padding-right:  19px;
    padding-right:  18px;
    padding-right:  17px;
    padding-right:  16px;
    padding-right:  15px;
    padding-right:  14px;
    padding-right:  14px;
    padding-right:  14px;
    padding-right:  14p;
    padding-right:  14;
    padding-right:  1;
    padding-right:;
    margin-right:  40px;
    margin-right:  40px;
    margin-right:  4px;
    margin-right:  px;
    margin-right:  2px;
    margin-right:  28px;
    margin-right:  29px;
    margin-right:  30px;
    margin-right:  31px;
    margin-right:  32px;
    margin-right:  31px;
    margin-right:  30px;
    margin-right:  29px;
    margin-right:  28px;
    margin-right:  27px;
    margin-right:  26px;
    margin-right:  25px;
    margin-right:  24px;
    margin-right:  23px;
    margin-right:  22px;
    margin-right:  21px;
    margin-right:  20px;
    margin-right:  20p;
    margin-right:  20;
    margin-right:  2;
    margin-right:;
}
.tb2 img{
    float: left;
    display: block;
    margin-top: 4px;
    width: 14px;
    padding-right:  10p;
}
.tb1 img{
    float: left;
    display: block;
    width: 12px;
    margin-top: 6px;
}


.header-aside
{
    float: right;
    margin-left: 18px;
    padding-top: 18px;
    margin-right: 5px;
}
.header-aside li:last-child{ box-sizing: border-box; padding-left: 8px; }
.header-aside li
{float: left;box-sizing:  border-box;width: 100px;}
.header-aside a:hover
{
    color: #003A7B;
}
.header-aside li a
{
    font-size: 14px;
    padding:0 8px;
    color: #666;
    line-height: 25px;
    font-family: cursive;
}
.header-aside li:last-child a
{
    border-right: 0px solid #000;
}
.sosuo
{
    height: 31px;
    width: 235px;
    float: right;
    box-sizing: content-box;
    margin-bottom: 20px;
}
.iconbox:hover
{transition: 0.5s;
    background: #333;
}
.sosuoBox
{
    margin-left: 17px;
    width: 178px;
    height: 28px;
    border: none;
    box-sizing: content-box;
    outline: none;
    border: 1px solid #B1B1B1;
}
.iconbox
{
    float: right;
    background: #666;
    width: 38px;
    height: 30px;
    padding-right: 10px;
    padding-left: 11px;
}
aside
{
    margin-top: 17px;
    width: 100%;
    height: 30px;
    box-sizing: content-box;
    margin-bottom: 10px;
}
.asideBox
{
    display: flex;
    justify-content: space-between;
    width: 1056px;
    font-weight: 700;
    height: 30px;
    margin: 0 auto;
    padding: 0 25px;
    /* border-top: 1px solid #DEDEDE; */
    padding-bottom: 10px;
    margin-bottom: 13px;
    margin-top: 11px;
}
.asideBox li
{
    width: auto;
    height: 30px;
    float: left;
    text-align: center;
    letter-spacing: 5px;
    font-size: 16px;
    line-height: 25px;
}

.asideBox li a:before{
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 100%;
    bottom: -5px;
    background: #6A6A6A;
    height: 8px;
    -webkit-transition-property: right;
    transition-property: right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.asideBox li a:hover:before, .asideBox li a:focus:before, .asideBox li a:active:before {
    right: 0;
}
.asideBox li a{
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    position: relative;
    overflow: hidden;
}
.asideBox li:hover a{

}

.asideBox li a
{
    display: block;
    width: auto;
    height: 100%;
    padding: 2px 8px;
    margin: 0 13px;
    padding-right: 1px;
    text-align: center;
    color: #666;       font-weight: 600;

    text-align: center;
}
.asideBox li a:first-child
{
    /* padding-left: 19px; */
    /* padding-right: 14px; */
}
.asideBox span
{   width: 2px;height: 11px;
    align-self:  center;
    background: #f9ffff;
}

.asideBox li:first-child
{
    letter-spacing: 9px;
    padding-right: 8px;
}
.asiderbox-Bottom
{
    width: 1002px;
    height: 30px;
    margin: 5px auto;
    background: #EFEFEF;
}


