/*
* @Author: Administrator
* @Date:   2017-10-29 19:58:11
* @Last Modified by:   Administrator
* @Last Modified time: 2017-11-01 22:02:56
*/
@import url('base.css');
@import url('head.css');


/* bannerÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¥ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¼ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¥ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â§ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€šÃ‚Â¹ */
.banner-Box1
{
	width: 100%;height: 300px;
}
.banner1
{   position: relative; 
	width: 100%;height:300px;
	margin: 0 auto;
	background: url('../img/1307273.jpg')no-repeat
	center top;
	/* background: url('../img/timg.jpg') no-repeat center center;
	background-size: 1002px;height: 261px; */
}
/* bannerÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â§ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â»ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¦Ã¢â‚¬Å“ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¦ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚ÂÃƒÆ’Ã¢â‚¬Â¦Ãƒâ€šÃ‚Â¸ */
/* asideÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¥ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¼ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¥ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â§ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€šÃ‚Â¹ */
.biaoqian1
{
	width: 1002px;height: 20px;
	margin: 0 auto;
}
.biaoqian1 p
{ font-size: 15px;font-weight: bold;
  color: #666666;margin: 10px 0;
}
.biaoqian1 p:first-child
{
  float: left;
}
.biaoqian1 p:last-child
{
  float: right;font-size: 13px;
  padding-right: 10px;font-weight: 500;
}
.biaoqian1 p:last-child a:first-child
{
  color: skyblue;
}
.biaoqian1 p:last-child a:last-child
{
  color: #888;
}
.biaoqian1 p:last-child a:last-child:hover
{
  color: #333;
}
nav{width: 100%;height: auto;}
.nav-header
{   border-top: 1px dotted #888;
	width: 1002px;height: 33px;
	padding: 0px 0 22px 0;
	text-align: center;color: #fff;
	font-size: 14px;font-weight: 500;
	line-height: 33px;
	background: url('../img/1307387.png') no-repeat 
	top center;
	background-size: 133px 33px;
    margin: 0 auto;
    margin-top: 20px;margin-bottom: 10px;
}
.row
{
	width: 1054px;height: auto;
	margin: 0 auto;
}
.row1
{
	width: 1054px;height: auto;
	display: flex;
}
.row-left
{
	width: 66.6%;height: auto;
	padding-right: 30px;
}
.row-right
{
	width: 33.4%;height: auto;
}
.left-img
{
	width: 651px;height: 416px;
}
.row-left p
{
	font-size: 13px;color: #666;
	line-height: 26px;
}
.left-img1
{
	width: 649px;
	height: 311px;
	margin-bottom: 140px;
}
.left-img1 img
{
	width: 100%;height: 100%;
	display: block;
}
.row-rgimg
{
	width: 321px;height: 240px;
	position: relative;
}
.row-rgimg img
{
	display: block;
	width: 100%;height: 100%;
}
.Dzezhao
{   position: absolute;
	left:0;right: 0;bottom: 0;top: 0;
	width: auto;height: auto;
	background: transparent ;
}
.zezhao
{  width: 321px;height: 15%;
	background: rgba(0, 0, 0, 0.4);
   position: absolute;
   left: 0;bottom: 0;color: #fff;
   padding-left: 20px;font-size: 16px;
   line-height: 220%;
}

.sanjiao
{  position: absolute;
	left: 0px;top: 0px;right: 0;bottom: 0;
	margin-left:  auto;margin-top:  auto;
	margin-right:  auto;margin-bottom:  auto;
   width: 40px;height: 40px;
   border-right: 20px solid transparent;
    border-left: 20px solid transparent;
     border-top: 20px solid transparent;
      border-bottom: 20px solid transparent;
}
.Dzezhao:hover
{   transition: 0.3s;
	background: rgba(0, 0, 0, 0.2);
} 
.Dzezhao:hover .sanjiao
{   transition: 0.3s;
	border-left: 20px solid white;
} 
.box1
{
	width:321px;height: 94px;
	padding-top: 30px;padding-bottom: 30px;
	background: #3B9AD0;text-align: center;
	font-size: 23px;color: #fff;margin-bottom: 5px;
	margin-top: 20px;border-radius: 5px;
	border: 1px solid #017DC3;
	display: block;
}
.box2
{
	width:321px;height: 94px;
	padding-top: 30px;padding-bottom: 30px;
	background: #08B6F5;text-align: center;
	font-size: 23px;color: #fff;border-radius: 5px;
	margin-bottom: 5px;line-height: 20px;
	border: 1px solid #00AAE8;display: block;
}
.box2 span
{
   display:block;float: left;
   text-align: center;padding-left: 90px;

}
.box2 p
{
   display:block;float: left;
}
.box3
{   border: 1px solid #EF9C12;display: block;
	width:321px;height: 94px;border-radius: 5px;
	padding-top: 30px;padding-bottom: 30px;
	background: #F4BA59;text-align: center;
	font-size: 23px;color: #fff;margin-bottom: 5px;
}
.box1:hover
{background: #017DC3;}
.box2:hover
{background: #00AAE8;}
.box3:hover
{background: #EF9C12;}






footer
{
	width: 100%;
	height: 86px;
	/* background: #EFEFEF; */
}
.footerbox
{
	border-top: 1px solid #CACACA;
	width: 100%;
	height: 86px;
	margin: 0 auto;
	/* padding-top: 6px; */
	margin-top: 12px;
}
.footertell
{
	width: 100%;
	height: 33px;
	background: #00AAE8;
	line-height: 33px;
	/* margin-top: 5px; */
	border-bottom: 2px solid #D9DAD5;
}
.footertell span
{
	float: left;
	font-size: 12px;
	padding-left: 25px;color: #fff;
}
.footcenter{
	width: 1001px;
	margin:0 auto;
}
.footertell-pic
{
	float: left;
	background: rgba(158, 158, 158, 0.62);
	width: 91px;
	height: 30px;

	line-height: 33px;
	color: #fff;
	text-align: center;
	letter-spacing: 2px;
}
.footertell-pic img
{
	display: block;width: 62px;height: 29px;
	margin: 0 auto;
}
.ulli li
{   display: block;float: left;
	font-size: 12px;text-align: left;
	padding-top: 5px;line-height: 30px;
	color: #000;padding: 0  4px;
}
.ulli li:hover
{
	color: skyblue;cursor: pointer;
}
.ulli li a:hover
{
	color: skyblue;
}
.ulli li a
{
	color: #000;
}


.footerbox-box
{
	width: 1001px;
	height: 29px;
	margin: 0 auto;
	margin-top: 5px;
}
.footerbox p a
{
	color: #333;
}
.footerbox p a:hover
{
	color: #FF3300;
}
#span1
{   line-height: 30px;display: block;
	font-size: 12px;text-align: right;
	float: right;
}
.span1 img
{
	margin-top: 5px;
}
.span1 a{
	color: #333;
}
.span1 a:hover{
	color: #FF3300;
}
