/*
* @Author: Administrator
* @Date:   2017-10-29 22:35:34
* @Last Modified by:   Administrator
* @Last Modified time: 2017-11-01 22:03:03
*/

@import url('base.css');
@import url('head.css');
*{
	margin:0;
	padding: 0;

}



/* bannerÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¥ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¼ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¥ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â§ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€šÃ‚Â¹ */
.banner-Box1
{
	width: 100%;height: 300px;
}
.banner1
{   position: relative; 
	width: 100%;height:300px;
	margin: 0 auto;
	background: url('../img/1307273.jpg')no-repeat
	center top;
	/* background: url('../img/timg.jpg') no-repeat center center;
	background-size: 1002px;height: 261px; */
}
/* bannerÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â§ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â»ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¦Ã¢â‚¬Å“ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¦ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚ÂÃƒÆ’Ã¢â‚¬Â¦Ãƒâ€šÃ‚Â¸ */
/* asideÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¥ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¼ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¥ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â§ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€šÃ‚Â¹ */

.biaoqian1
{
	width: 1002px;height: 20px;
	margin: 0 auto;
}
.biaoqian1 p
{ font-size: 15px;font-weight: bold;
  color: #666666;margin: 10px 0;
}
.biaoqian1 p:first-child
{
  float: left;
}
.biaoqian1 p:last-child
{
  float: right;font-size: 13px;
  padding-right: 10px;font-weight: 500;
}
.biaoqian1 p:last-child a:first-child
{
  color: skyblue;
}
.biaoqian1 p:last-child a:last-child
{
  color: #888;
}
.biaoqian1 p:last-child a:last-child:hover
{
  color: #333;
}
nav{width: 100%;height: auto;}
.nav-header
{   border-top: 1px dotted #888;
	width: 1002px;height: 33px;
	padding: 0px 0 22px 0;
	text-align: center;color: #fff;
	font-size: 14px;font-weight: 500;
	line-height: 33px;
	background: url('../img/1307387.png') no-repeat 
	top center;
	background-size: 133px 33px;
    margin: 0 auto;
    margin-top: 20px;margin-bottom: 10px;
}
.navbox
{
	width: 1001px;height: 60px;
	margin: 0 auto;margin-top: 10px;
}
.navbox1
{
	width: 100%;height: 100%;
	display: flex;padding: 10px;
	justify-content: space-between;
}
.box
{
	width: calc(100% / 3);height: 100%;
	background: skyblue;text-align: center;
	line-height: 220%;display: block;
	color: #fff;    font-size: 16px;
	cursor: pointer;margin-right: 30px;
}

.navbox1 .box1{
	background: #E7E7E7;color: #000;
}

.navbox1 .box:last-child
{
	margin-right: 0px;

}
.Liebiao
{
	width: 1001px;height: auto;
	margin: 0 auto;
}
.geduan
{
	width: 1001px;height: 30px;
	margin: 0 auto;margin-top: 40px;
	border-top: 1px dotted #d9d9d9
}
.Liebiao li
{
	margin-top: 20px;width: 100%;
	height: 60px;
	border-bottom: 1px dotted #d9d9d9;
}
.Liebiao li p
{
	color: #00AAE8;
	font-size: 17px;
	line-height: 0px;
}
.Liebiao li span
{
	color: #888;font-size: 12px;

}
.Liebiao li:hover span
{
	color: #000;

}
.pages
{   
	width: 1001px;height: 40px;
	margin: 0 auto;margin-top: 20px;
	margin-bottom: 140px;
}
.pages-num
{
	float: right;font-size: 14px;
	color: #666;
}
.pages-num span
{   display: block;
	float: left;line-height: 26px;
}
.pages-num span:first-child
{   margin-right: 10px;
}
.pages-num span:last-child
{   margin-left: 10px;
}
.pages-num li
{   float: left;
	width: auto;height: 26px;
	background: #E7E7E7;color: #333;
	border: 1px solid #CCCCCC;
	border-radius: 4px;text-align: center;
	padding: 0 10px;line-height: 23px;
	margin: 0 2px;font-size: 12px;
}
#num1
{
  background: #00AAE9;
  color: #fff;
}

footer
{
	width: 100%;
	height: 86px;
	/* background: #EFEFEF; */
}
.footerbox
{
	border-top: 1px solid #CACACA;
	width: 100%;
	height: 86px;
	margin: 0 auto;
	/* padding-top: 6px; */
	margin-top: 12px;
}
.footertell
{
	width: 100%;
	height: 33px;
	background: #00AAE8;
	line-height: 33px;
	/* margin-top: 5px; */
	border-bottom: 2px solid #D9DAD5;
}
.footertell span
{
	float: left;
	font-size: 12px;
	padding-left: 25px;color: #fff;
}
.footcenter{
	width: 1001px;
	margin:0 auto;
}
.footertell-pic
{
	float: left;
	background: rgba(158, 158, 158, 0.62);
	width: 91px;
	height: 30px;

	line-height: 33px;
	color: #fff;
	text-align: center;
	letter-spacing: 2px;
}
.footertell-pic img
{
	display: block;width: 62px;height: 29px;
	margin: 0 auto;
}
.ulli li
{   display: block;float: left;
	font-size: 12px;text-align: left;
	padding-top: 5px;line-height: 30px;
	color: #000;padding: 0  4px;
}
.ulli li:hover
{
	color: skyblue;cursor: pointer;
}
.ulli li a:hover
{
	color: skyblue;
}
.ulli li a
{
	color: #000;
}


.footerbox-box
{
	width: 1001px;
	height: 29px;
	margin: 0 auto;
	margin-top: 5px;
}
.footerbox p a
{
	color: #333;
}
.footerbox p a:hover
{
	color: #FF3300;
}
#span1
{   line-height: 30px;display: block;
	font-size: 12px;text-align: right;
	float: right;
}
.span1 img
{
	margin-top: 5px;
}
.span1 a{
	color: #333;
}
.span1 a:hover{
	color: #FF3300;
}
